<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}On Remue Sainté !{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fasthand&family=Open+Sans:wght@500;700&family=Playfair+Display&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">



    <!-- Feuilles de style -->
    <link rel="stylesheet" href="{{asset('assets/style/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/style/style.css')}}">
    {% block stylesheets %}

    {% endblock %}



    <!-- Feuilles de scripts JS -->
    <script src="{{asset('assets/scripts/bootstrap.min.js')}}" defer></script>
    <script src="{{asset('assets/scripts/script.js')}}" defer></script>
    {% block javascripts %}

    {% endblock %}
</head>

<body>



    <header class="header container-fluid">
        <h1 class="headerh1 fontdancing">
            On Remue Sainté ! </h1>
        <nav class="nav">
            <a class="nav-link active fontdancing fs-3 " aria-current="page" href={{ url('accueil') }}>Accueil</a>
            <a class="nav-link fontdancing fs-3 "  aria-current="page" href={{ url('app_commissions_') }} >Commissions</a>
            <a class="nav-link fontdancing fs-3 "  aria-current="page"href={{ url('app_ateliers') }}>Ateliers</a>
            <a class="nav-link fontdancing fs-3 "  aria-current="page"href={{ url('app_gallerie') }}  >Galerie</a>
            <a class="nav-link fontdancing fs-3 "  aria-current="page"href={{ url('app_onremue')}}>Remue Sainté!</a>
            <a class="nav-link fontdancing fs-3 "  aria-current="page" href={{ url('app_blog')}}>Blog</a>


        </nav>
    </header>
    <div class="header_2 container-fluid bg-light">
        <a class="nav-link fs-4 header_2_a" href={{ url('app_login') }}>Inscription</a>
        <a class="nav-link fs-4 header_2_a" href={{ url('app_connexion') }}>Connexion</a>
    </div>

  
    {% block body %}{% endblock %}

    <footer class="container_fluid footer row justify-content-center flex-nowrap ">

      
        <p class="col-4 fs-6 mx-5 my-2 fontdancing ">
            Le Remue Meninges 
            Café culturel & associatif
        </p>
        <div class="div_footer_img col-4 ">
        <img class="div_footer_img " src={{ absolute_url(asset('assets/img/logo-rm-vide-blanc.png'))}} alt="Logo Remue Meninges">
         </div>
        <p class="col-4 fs-6 mx-5 my-2 fontdancing">
           43 Rue Michelet 
           42000 Saint-Etienne 
        </p>

    

    </footer>
</body>

</html>